{% extends 'jportal/base.html' %}
{% load bootstrap3 %}

{% block title_block %}
    Employer Registration
{% endblock %}
{% block nav_block %}
    
{% endblock %}
{% block body_block %}
<div class="container">
    <h2>Employer Registration</h2>
    <form method="post" action="." enctype="multipart/form-data" >  
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form employer_form %} 
            {{ employer_form.media.js }}
            <input type="submit" name="emp_submit" value="Register">

    </form>
</div>
<br>
<br>
<br>
{% endblock %}