{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Job Search - LogIn
{% endblock %}
{% block body_block %}
<div class="container">
    <h2>Job Seeker Registration</h2>
    <form method="post" action="." enctype="multipart/form-data" >  
        <div class="form-group">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ job_seek.as_p }}
            <input class="form-control" type="submit" name="submit" value="Register" />
        </div>
    </form>
</div>
{% endblock %}