<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Seeker Registration</title>

</head>
<body>
    <h2>Job Seeker Registration</h2>
    <div id="empReg" class="tab-pane fade in active">
        <form method="post" action="." enctype="multipart/form-data" >   
                {% csrf_token %}
                {{ js.user_form.as_p }}
                {{ js.job_seek.as_p }}
                <input type="submit" name="submit" value="Register">
        </form>
    </div>
</body>
</html>