{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% block title_block %}
	Job Search - LogIn
{% endblock %}
{% block body_block %}
<div class = "container">
    <h2>Login</h2>
    <form method="post" action=".">   
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            {% buttons %}
            <button type="submit" name="submit" class="btn btn-primary" value="Login">Login</button>
            {% endbuttons %}        
    </form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
