{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Registration
{% endblock %}
{% block body_block %}
    <center>
        <div class="container jumbotron">
            <h2 class="display-3">Register Yourself!</h2>
            <br/>
            <a href="{% url 'employer_register' %}">
                <button class="btn btn-lg btn-primary">Register as Employer</button>
            </a>
            <br />
            <br />
            <b>Or</b>
            <br />
            <br />
            <a href="{% url 'jobseeker_register' %}">
                <button class="btn btn-lg btn-primary">Register as Jobseeker</button>
            </a>
            <br/>
            <br/>
                Already a member? <a href="{% url 'login' %}">Login Here</a>
            </div>

    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
{% endblock %}