{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Job Search - Add Job
{% endblock %}
{% block body_block %}
    <h2>JOB FORM</h2>
    <form method="post" action=".">
        {% csrf_token %}
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

        {{ form.as_p }}
        {{ form.media.js }}
  
        <input type="submit" value="Submit">
    </form>
{% endblock %}