<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/et-line-font/et-line-font.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<title>
		Job Hunt - {% block title_block %}{% endblock %}
	</title>
</head>

<body>
	<div class="page-wrap">
		<div class="container">
			<nav class="navbar navbar-fixed" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar" style="background-color: black;"></span>
						<span class="icon-bar" style="background-color: black;"></span>
						<span class="icon-bar" style="background-color: black;"></span>
					</button>
				</div>
				<div class="brand-centered">
					<a class="navbar-brand" href="{% url 'index' %}">
						<img alt="Job Hunt" src="{% static 'images/logo.png' %}" id="logo" style="width:60px;margin-right: 10px; padding: 0;" />
						<h3>Job Hunt</h3>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right" style="font-size:15px;margin-top:10px;">
						<li id="home">
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Sevices</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
						{% if user.is_authenticated == False %}
						<li>
							<a href="{% url 'login' %}">
								<span class="glyphicon glyphicon-log-in"></span> Login</a>
						</li>
					</ul>
					{% else %} {% if usertype == "e" %}
					<div class="navbar-text navbar-right dropdown">Signed in as
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" style="display:inline; font-style:italic; color:royalblue;">{{user.username}}</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'employer_profile' username=user.username %}">
									<i class="glyphicon glyphicon-user"></i> My Profile</a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-briefcase"></i> Manage Jobs</a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-list-alt"></i> Manage Applications</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'password_change' %}">
									<i class="glyphicon glyphicon-lock"></i> Change Password</a>
							</li>
							<li>
								<a href="{% url 'logout' %}">
									<i class="glyphicon glyphicon-log-out"></i> Logout</a>
							</li>
						</ul>
					</div>
					{% elif usertype == "j" %}
					<div class="navbar-text navbar-right dropdown">Signed in as
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" style="display:inline; font-style:italic; color:royalblue;">{{user.username}}</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'jobseeker_profile' username=user.username %}">
									<i class="glyphicon glyphicon-user"></i> My Profile</a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-file"></i> Resume</a>
							</li>
							<li>
								<a href="#">
									<i class="glyphicon glyphicon-briefcase"></i> Jobs Applied</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'password_change' %}">
									<i class="glyphicon glyphicon-lock"></i> Change Password</a>
							</li>
							<li>
								<a href="{% url 'logout' %}">
									<i class="glyphicon glyphicon-log-out"></i> Logout</a>
							</li>
						</ul>
					</div>
					{% else %}
					<li>
						<a href="{% url 'logout' %}">Logout</a>
					</li>
					<li class="navbar-text navbar-right">Signed in as
						<span style="font-style:italic; color:black;">{{user.username}}</span>
					</li>
					{% endif %} {% endif %}
				</div>
			</nav>
		</div>
		{% block body_block %} {% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script defer src="https://i.icomoon.io/public/temp/7f229b3610/UntitledProject/svgxuse.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{% static "js/ajax.js" %}"></script>
</body>

</html>