{% extends 'jportal/base.html' %}

{% block title %}Chat{% endblock %}

{% block nav %} {% endblock %}

{% block body_block %}
<script>
    firebase.auth().onAuthStateChanged(function(user) {
        // Once authenticated, instantiate Firechat with the logged in user
        if (user) {
            initChat(user);
        }
    });
    var tk = "{{token}}"
    firebase.auth().signInWithCustomToken(tk).catch(function(error) {
        console.log("Error authenticating user:", error);
    });
</script>
{% endblock %}
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
	<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyC76fKMUinE13_h6GBj_oJCJJRMIepqSAE",
				authDomain: "jportal-chat-232ee.firebaseapp.com",
				databaseURL: "https://jportal-chat-232ee.firebaseio.com",
				projectId: "jportal-chat-232ee",
				storageBucket: "jportal-chat-232ee.appspot.com",
				messagingSenderId: "957803959222"
			};
			firebase.initializeApp(config);
	</script>

	<!-- Firechat -->
	<script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
