{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% block title_block %}
	Job Search - Company_details_form
{% endblock %}
{% block body_block %}
<div class="container">
    <h2>Company Details</h2>
    <form method="post" action="." enctype="multipart/form-data" >   
            {% csrf_token %}
            {% bootstrap_form company_form %}
            {% buttons %}
            <button type="submit" name="submit" class="btn btn-primary" value="Confirm">Add</button>
            {% endbuttons %}
    </form>
</div>
{% endblock %}