{% extends 'jportal/base.html' %} 
{% load staticfiles %}
{% block title_block %} Contact Us {% endblock %} 
{% block body_block %}
<main>
    <div class="main">
        <section class="module" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Contact us</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form id="contactForm" role="form" role="form" action="." method="post">
                            <input name="csrfmiddlewaretoken" value="X6e8BaQWu5EdESdBBalDOtofJoSXGvQFFjchBPGE8lYbZlCzhXtIb8aUhBSS3xiS" type="hidden">
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <input class="form-control" name="name" maxlength="50" id="id_name" type="text" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input class="form-control" name="email" maxlength="254" id="id_email" type="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="7" name="message" id="id_message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="alt-features-item mt-0">
                            <div class="alt-features-icon"><span class="fa fa-map-marker" style="font-size:30px;"></span></div>
                            <h3 class="alt-features-title font-alt">Where to meet</h3>JobPortal Pvt. Ltd.<br/>101, Regent Square<br/> Adajan, 395009 - Surat
                        </div>
                        <div class="alt-features-item mt-xs-60">
                            <div class="alt-features-icon"><span class="fa fa-bullhorn" style="font-size:30px;"></span></div>
                            <h3 class="alt-features-title font-alt">Say Hello</h3>Email: jobportal@gmail.com<br/>Phone: +91 7894561230
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <br/>
        <section id="map-section">
            <div id="map"></div>
        </section>
    </div>
</main>
<script>
    function initMap() {
        var uluru = {lat:  21.1926, lng: 72.7997};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjJL8OlCw71wlZB4iDmLYBtf0tVwWX0xY&callback=initMap" async defer></script>

{% endblock %}
