{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% block title %}
    Education
{% endblock %}

{% block body_block %}
<div class = "container">
        {% buttons %}
        <a type="button" data-toggle="collapse" href="#form_g" name="graduation"><button class="btn btn-info">Add Graduation</button></a>
        {% endbuttons %} 
    
    <div class="collapse" id="form_g">
        <form method="post" action="." enctype="multipart/form-data" id="g_form">
            {% csrf_token %}
            {% bootstrap_form g_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" name="add_graduation" value="add">Add</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<div class = "container">
        {% buttons %}
        <a type="button" data-toggle="collapse" href="#form_pg" name="post_graduation"><button class="btn btn-info">Add Post Graduation</button></a>
        {% endbuttons %} 

    <div class="collapse" id="form_pg">
        <form method="post" action="." enctype="multipart/form-data" id="pg_form">
            {% csrf_token %}
            {% bootstrap_form pg_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" name="add_post_graduation" value="add">Add</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<div class = "container">
        {% buttons %}
        <a type="button" data-toggle="collapse" href="#form_phd"name="phd"><button class="btn btn-info">Add Doctorate/PhD</button></a>
        {% endbuttons %} 
    
    <div class="collapse" id="form_phd">
        <form method="post" action="." enctype="multipart/form-data" id="phd_form">
            {% csrf_token %}
            {% bootstrap_form phd_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" name="add_phd" value="add">Add</button>
            {% endbuttons %}
        </form>
    </div>  
</div>     
{% endblock %}