{% extends 'jportal/base.html' %}
{% load bootstrap3 %}

{% block title_block %}
	Job Search - Employer Registration
{% endblock %}
{% block body_block %}
    <div class="container">
        <h2>Edit Personal Details</h2>
        <form method="post" action="." enctype="multipart/form-data" >   
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form emp_form %}
                {{ emp_form.media.js }}
                <input type="submit" name="submit" value="Submit">
        </form>
    </div>
{% endblock %}