<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sample Employer Page</title>

</head>
<body>
    <h3>Employer's Own Profile Page</h3>
    <form method="post" action="." enctype="multipart/form-data" >   
        {% csrf_token %}
        {{ e_profile.as_p }}
        <input type="submit" name="submit" value="Save Changes">
    </form>
</body>
</html>