{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Job Search - Employer Registration
{% endblock %}
{% block body_block %}
    <h3>Sample Employer Page</h3>

    <a href="{% url 'detail_employer' %}">Detailed Employer Profile</a>
    <br />
    <br />
    <!-- ahiya thi baaki...passing parameters in url ################################### -->
    <a href="{% url 'employer_profile' %}">My Profile</a>
    <a href="{% url 'managejob' %}">ManageJob</a>
    {% if user.is_authenticated %}
        <a href="/logout/">Logout</a>
    {% endif %}
{% endblock %}