<!DOCType html>
<!--
<html lang="en">
    <head>
        <title>Job Form</title>  
        <link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
        <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
        
    </head>
    <body>
        <h2>JOB FORM</h2>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.media.js }}
            {{ form.as_p }}
            <div id="field">
                <span style="color:#D4D4D4; font-weight:900; font-size:17px; opacity:1;">Activation Date:</span><br />
                <input id="datepicker"/>        
            </div>
            <script type="text/javascript">
                jQuery(function ($) {
                    $("#datepicker").shieldDatePicker();
                });
            </script>
            <style>
                
                #field {
                    width: 200px;                
                    line-height: 37px;        
                    text-align: center;
                    background-color: white;
                    opacity:0.83;
                    padding: 7px;
                    margin: 0 auto;
                }
            
            </style>
           
    </form>
    </body>
</html> -->
<html>
    <head>
        <title>Job Form</title>  
        <script type="text/javascript" src="/jsi18n/"></script>
        </head>
    <body>
        <h2>JOB FORM</h2>
        <form method="post" action=".">
            <input type='hidden' name='csrfmiddlewaretoken' value='Fu2pslu1ujd3nA4Kbc9p6GLCL99PzombmCnNetoSUJzvveNY4S37TNMImspSEkWC' />
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
            <script type="text/javascript" src="/static/smart-selects/admin/js/bindfields.js"></script>
            <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
            <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
            <p>
                <label for="id_category">Category:</label>
                <select name="category" required id="id_category">
                    <option value="" selected>---------</option>
                    <option value="1">Computer Science</option>
                    <option value="2">Business</option>
                    <option value="4">Management</option>
                    <option value="5">Designing</option>
                </select>
            </p>
            <p>
                <label for="id_subcategory">Subcategory:</label>
                <select name="subcategory" required id="id_subcategory" data-chainfield="category"
                        data-url="/chaining/filter/jportal/SubCategory/category/jportal/JobForm/subcategory" 
                        data-value="null" data-auto_choose="true" data-empty_label="--------" name="subcategory" class="chained-fk">
                </select>
            </p>
            <p>
                <label for="id_title">Title:</label>
                    <input type="text" name="title" maxlength="100" required id="id_title" />
            </p>
            <p>
                <label for="id_last_date">Last date:</label> 
                <input type="text" name="last_date" required id="id_last_date" />
            </p>
            <p>
                <label for="id_salary">Salary:</label> 
                <input type="number" name="salary" min="0" id="id_salary" />
            </p>
            <p>
                <label for="id_Job_responsibility">Job responsibility:</label> 
                <textarea name="Job_responsibility" cols="40" rows="10" required id="id_Job_responsibility"></textarea>
            </p>
            <p>
                <label for="id_candidate_profile">Candidate profile:</label> 
                <textarea name="candidate_profile" cols="40" rows="10" required id="id_candidate_profile"></textarea>
            </p>
            <p>
                <label for="id_posted_date">Posted date:</label> 
                <input type="datetime-local" name="bdaytime">
                
              <!--  <input type="text" name="posted_date" class="vDateField" size="10" required id="id_posted_date" /> -->
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </body>
</html>