{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Job Listing
{% endblock %}

{% block nav_block %}
{% endblock %}

{% block body_block %}
    {% if jobs %}
        {% for job in jobs %}
            <ul>
                <li>
                    <a href="{% url 'job_details' job.slug %}">{{job.title}}</a> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
            </ul>

        {% endfor %}
    {% else %}
        <h4>No Jobs Found</h4>    
    {% endif %}
{% endblock %}