
    <div class="container">

        <!-- job listing for for jobs posted by employers -->
        {% if jobs and usertype == 'e' %}
        <div class="panel-group" style="width:500px;">
            {% for job in jobs %}
                <div class="panel panel-primary" style="border-radius:10px;">
                    <div class="panel-heading" style="border-radius:10px;">
                        <b><a style="color:rgb(255, 255, 255);" href="{% url 'job_details' job.slug %}">{{ job.title }}</a></b>
                    </div>
                    <div class="panel-body">
                        <h5>
                            {{ job.Job_responsibility }}
                        </h5>
                        <a href="{% url 'edit_job' job.slug %}">
                            <button class="btn btn-secondary btn-sm" type="submmit" value="Edit Jobs">Edit Job</button>
                        </a>
                        <a href="{% url 'delete_job' job.slug %}">
                            <button style="float: right;" class="btn btn-secondary btn-sm" type="submit" value="Delete">Delete</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- job listing for search results -->
        {% elif jobs %}
            <div class="panel-group" style="width:50%;">
            {% for job in jobs %}
                <div class="panel panel-primary" style="border-radius:10px;">
                    <div class="panel-heading" style="border-radius:10px;">
                        <a style="color:rgb(255, 255, 255);" href="{% url 'job_details' job.slug %}">{{ job.title }}</a>
                    </div>
                    <div class="panel-body">{{ job.Job_responsibility }}</div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h4>No Jobs Found</h4>    
        {% endif %}
    </div>
