{% extends 'jportal/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Job Details
{% endblock %}

{% block nav_block %}
{% endblock %}

{% block body_block %}

    
    {% if user_type == 'j' %}
        {% include "jportal/sidebar_js.html" %}
    <!-- job details for jobseeker -->
        {% if job_info %}
        <div class="container" style="margin-left: 150px;font-size: 28px; padding: 0px 20px;">
        <div class="jumbotron">
            <h2 style="padding-left:2%;">{{ job_info.title }}</h2>
            <br>
            <div class="container" style="border:1px solid; border-radius:10px; padding:1%;">
                <p>Candidate Profile: {{ job_info.candidate_profile }}</p>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <p>Job Responsibility: {{ job_info.job_responsibility }}</p> 
                &nbsp; &nbsp; &nbsp; &nbsp;
                <p>Salary: {{ job_info.salary }}</p>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <p>Last date for application: {{ job_info.last_date }}</p>
               
                <strong>Posted On: {{ job_info.posted_date }}</strong>
            </div>
        </div>
            {% if applier %}
                <div>
                    <strong>You have already applied for the job.</strong>
                    <!-- Redirect to Applied Jobs Section -->
                    <br>
                    <a href="{% url 'jobs_applied' %}">
                        <button type="button" class="btn btn-info">Show applied jobs</button>
                    </a>
                </div>
            {% else %}
                <div class="container">
                    <!-- VErify application -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#verify">Apply</button>
                    <!-- Modal -->
                    <div class="modal fade" id="verify" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>Are you sure you want to apply for the job?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'job_apply' job_info.slug %}">
                                        <button type="button" class="btn btn-default">Yes</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        {% endif %}
    {% elif user_type == 'e' %}
        {% include "jportal/sidebar_emp.html" %}
        <div class="container" style="margin-left: 150px; padding: 0px 20px;">
        {% if postedjob %}
        <!-- If the employer has posted that job -->
            {% if job_info %}
            <!-- job details for employer -->
            <div class="container">
                <div class="page-header">
                    <h3 style="display:inline">{{job_info.title}}</h3>
                    <a class="btn btn-border-d btn-round" href="{% url 'edit_job' job_info.slug %}" style="float:right;">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                </div>
                <br>
                <p>Candidate Profile: {{ job_info.candidate_profile }}</p>
    
                <p>Job Responsibility: {{ job_info.Job_responsibility }}</p> 

                <p>Salary: {{ job_info.salary }}</p>

                <p>Last date for application: {{ job_info.last_date }}</p>
                <strong>You posted this job on: {{ job_info.posted_date }}</strong>
                <!-- Redirect to Edit Job Section -->
            </div>
                {% endif %}
        {% endif %}
    {% endif %}
    </div>
{% endblock %}