{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Job Details
{% endblock %}

{% block nav_block %}
{% endblock %}

{% block body_block %}
    {% if applier %}
    <div class="jumbotron">
        <center>
            <h3>You have successfully applied for the job</h3>

            <p>You can check the jobs you applied for in <a href="{% url 'jobs_applied' %}">"Job Appled"</a> section</p>
            OR
            <p><a href="{% url 'index' %}">Explore more jobs</a></p>
        </center>
    </div>
    {% endif %}
{% endblock %}