{% extends 'jportal/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ user.username }}
{% endblock %}
<style>

.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}
.nav-sidebar .active a { 
  cursor: default;
  background-color: #0b56a8; 
  color: #fff; 
}
.nav-sidebar .active a:hover {
  background-color: #E50000;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; 
}
</style>
{% block body_block %}
<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <nav class="nav-sidebar" style="width:150px;position:fixed;z-index: 1;top: 100px;left: 10px;
                                        padding: 15px 0;border-right: 1px solid #ddd;  font-family:Roboto;">
            <ul class="nav tabs">
                <li class="active"><a href="#">Profile Details</a></li>
                <li><a href="{% url 'education' user.username %}">Educational Details</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Recommended Jobs</a></li>
                <li><a href="#">Jobs Applied</a></li>
                <li><a href="#">Search Jobs</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class = "col-sm-8 col-md-8 col-lg-8" style="margin-left: 160px;font-size: 28px; padding: 0px 40px;">
    <div class="container" style="width:900px;">
        <div class="jumbotron" style="height:50px;">
                <h3 style="display:inline">Profile Details</h3>
                <a class="btn btn-border-d btn-round" href="#" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="border-right: 1px solid #ddd;">
                <img src="{{ MEDIA_URL }}{{seeker.profile_img}}" class="img-thumbnail img-responsive" style="width:200px;"/>
            </div>
            <div class="col-md-4 col-lg-4" style="border-right: 1px solid #ddd;">
                <h3 class="work-details-title font-alt">Personal Details</h3>
                <h4><i class="fa fa-user fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>{{user.first_name}} {{user.last_name}}</h4>
                <h4><i class="fa fa-user fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.gender}}</h4>
                <h4><i class="glyphicon glyphicon-calendar fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.dob}}</h4>
            </div>  
            <div class="col-md-4 col-lg-4" style="border-right: 1px solid #ddd;">
                <h3 class="work-details-title font-alt">Contact Details</h3>
                <h4><i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.city}}, {{seeker.state}}</h4>
                <h4><i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: {{seeker.contact_no}}</h4>
                <h4><i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: {{user.email}}</h4>
            </div>  
        </div>
    </div>  
    <a href="{% url 'jobseek_pro' %}">
    <button class="btn btn-primary" value="submit">Jobseeker Profile Form</button>
    </a>
</div>
{% endblock %}