{% extends 'jportal/base.html' %}
{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_block %}
{% include "jportal/sidebar_js.html" %}
<main>
    <div class="container row" style="margin-left: 150px;font-size: 28px; padding: 0px 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <h3 style="display:inline;font-size:1em;">Profile Details</h3>
            <a class="btn btn-border-d btn-round" href="{% url 'jobseeker_edit' username=user.username %}" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="border-right: 1px solid #ddd;padding-left:100px;">
                <img src="{{ MEDIA_URL }}{{seeker.profile_img}}" class="img-thumbnail img-responsive" style="width:200px;"/>
            </div>
            <div class="col-md-3 col-lg-3" style="border-right: 1px solid #ddd;">
                <h3 class="work-details-title font-alt">Personal Details</h3>
                <h4><i class="fa fa-user fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{user.first_name}} {{user.last_name}}</h4>
                <h4>
                    {% if seeker.gender == 'Male' %}
                    <i class="fa fa-male fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.gender}}
                    {% else %}
                    <i class="fa fa-female fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.gender}}
                    {% endif %}
                </h4>
                <h4><i class="fa fa-birthday-cake fa-fw w3-hover-text-black w3-margin-right"></i> {{seeker.dob}}</h4>
            </div>  
            <div class="col-md-3 col-lg-3" style="border-right: 1px solid #ddd;">
                <h3 class="work-details-title font-alt">Contact Details</h3>
                <h4><i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.city}}, {{seeker.state}}</h4>
                <h4><i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{seeker.contact_no}}</h4>
                <h4><i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{user.email}}</h4>
            </div>  
        </div>
        </div>
    </div>
    <div class="container row" style="margin-left: 150px; padding: 50px 20px;">
        <h3 class="work-details-title font-alt">Educational Details</h3>
        <div class="panel-group">
            {% if ed.gr %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title font-alt">Graduation: {{ed.gr.year}}</h4></div>
                <div class="panel-body">
                    <h5><b>{{ ed.gr.graduation }} in  {{ ed.gr.specialization }}</b></h5>
                    <h5>{{ ed.gr.university }}</h5>
                    <h5>CGPA: <b>{{ed.gr.marks}}</b></h5>
                </div>
            </div>
            {% endif %}
            {% if ed.pg %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title font-alt">Post Graduation: {{ed.pg.year}</h4></div>
                <div class="panel-body">
                    <h5><b>{{ ed.pg.post_graduation }} in  {{ ed.pg.specialization }}</b></h5>
                    <h5>{{ ed.pg.university }}</h5>
                    <h5>CGPA: <b>{{ed.pg.marks}}</b></h5>
                </div>
            </div>
            {% endif %}
            {% if ed.phd %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title font-alt">PhD: {{ed.phd.year}}</h4></div>
                <div class="panel-body">
                    <h5><b>{{ ed.phd.phd }} in  {{ ed.phd.specialization }}</b></h5>
                    <h5>{{ ed.phd.university }}</h5>
                    <h5>CGPA: <b>{{ed.phd.marks}}</b></h5>
                </div>
            </div>
            {% endif %}
            {% if ed.xii %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title font-alt">Class 12<sup>th</sup>: {{ed.xii.year}}</h4></div>
                <div class="panel-body">
                    <h5>Board: <b>{{ ed.xii.board }}</b> Medium: <b>{{ ed.xii.medium }}</b></h5>
                    <h5>{{ ed.xii.school }}</h5>
                    <h5>Score: <b>{{ed.xii.percentage}}</b></h5>
                </div>
            </div>
            {% endif %}
            {% if ed.x %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4 class="panel-title font-alt">Class 10<sup>th</sup>: {{ed.x.year}}</h4></div>
                <div class="panel-body">
                    <h5>Board: <b>{{ ed.x.board }}</b> Medium: <b>{{ ed.x.medium }}</b></h5>
                    <h5>{{ ed.x.school }}</h5>
                    <h5>Score: <b>{{ed.x.percentage}}</b></h5>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}