{% extends 'jportal/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Job seeker - Edit Profile
{% endblock %}
{% block body_block %}
{% include "jportal/sidebar_js.html" %}
<div class="container" style="margin-left: 200px;">
    <h1>Edit Profile Details</h1>
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ form.as_p}}
        {{ form.media.js }}
        <button type="submit" value="submit">Submit</button>
        <br/>
</form>
</div>
{% endblock %}