{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% block title_block %}
	Job Search - Manage Job
{% endblock %}
{% block body_block %}
<style>
        #content {
      display: none;
    }
    input[type="text"]{
        color: transparent;
        text-shadow: 0 0 0 #000;
        padding: 4px 8px;
        width: 60px;
        cursor: pointer;
    }
    input[type="text"]:focus{
        outline: none;
    }
    input:focus + div#content {
      display: block;
    }
</style>
    {% include "jportal/sidebar_emp.html" %}
    <div class="container" style="width:70%;">
        <div class="container">
            <a href="{% url 'add_job' %}">
                <button class="btn btn-primary btn-lg" type="submit" value="ADD JOB">Add a new job</button>
            </a>
        </div>
    
        <div style="border:1px solid; margin:40px;">
        </div>

        <div class="container" style="border:1px solid; margin:5px; padding:5px; border-radius:10px; width:70%;">
                <h3>Jobs Posted by you</h3>

            {% include "jportal/job_listing.html" %}
        </div>
    </div>


{% endblock %}
