{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% block title_block %}
	Job Search - Manage Job
{% endblock %}
{% block body_block %}
{% include "jportal/sidebar_js.html" %}
<div class="container" style="width:70%; border:1px solid; border-radius:20px; padding-bottom:40px; padding-top:40px;">
    <div class="panel-group" style="width:50%;">
        {% for job in all_job %}
            <div class="panel panel-primary" style="border-radius:10px;">
                <div class="panel-heading" style="border-radius:10px;">
                    <a style="color:rgb(255, 255, 255);" href="{% url 'job_details' job.slug %}">{{ job.title }}</a>
                </div>
                <div class="panel-body">{{ job.Job_responsibility }}</div>
            </div>
        {% endfor %}
        </div>
</div>

{% endblock %}