{% extends 'jportal/base.html' %}
{% load staticfiles %}
{% load app_tags %}
{% block title %}
    Search - Jobseeker 
{% endblock %}
{% block body_block %} 
{% include "jportal/sidebar_emp.html" %}
<div class="container" style="width:70%; padding-top:50px;">
    
    <form method="POST" action=".">
    {% csrf_token %}
    <input type="text" name="search" placeholder="search by state,city,category,subacategory"/>
    <input type="submit" value="submit"/>  
     
    {% if state %}
        {% get_state state.id as a %}
        {% if a %}
            <table>
            {% for k,v in a.items %}
                {% for g in v %}
                    <tr>
                    <td><a href="{% url 'jobseeker_profile' g %}">{{ g }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    {% if city %}
        {% get_city city.id as b %} 
        {% if b %}
            <table>
            {% for k,v in b.items %}
                {% for g in v %}
                    <tr>
                    <td><a href="{% url 'jobseeker_profile' g %}">{{ g }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}        
    {% endif %}
    {% if category %}
        {% get_cate category.id as c %}
        {% if c %}
            pass
            <table>
            {% for k,v in c.items %}
                {% for g in v %}
                    <tr>
                    <td><a href="{% url 'jobseeker_profile' g %}">{{ g }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    {% if subcategory%}
    {% get_subcat subcategory.id as e %}
        {% if e %}
            pass
            <table>
            {% for k,v in e.items %}
                {% for g in v %}
                    <tr>
                    <td><a href="{% url 'jobseeker_profile' g %}">{{ g }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    </form>
</div>
{% endblock %}
