{% extends 'jportal/base.html' %}
{% load bootstrap3 %}
{% load app_tags %}
{% block title %}
    Search - Jobseeker 
{% endblock %}
{% block body_block %} 

{% include "jportal/sidebar_emp.html" %}
    <div class="container" style="margin-top:100px;margin-left: 150px; padding: 0px 20px;">
        <div class="col-sm-6 col-md-6 col-lg-6" style="border-right:1px solid #ddd">
            <h3>Search By Category</h3>
            <form method="post" action="." enctype="multipart/form-data" id="form">   
                    {% csrf_token %}
                    {% bootstrap_form form1 %}
                    {{form1.media.js}}
                    <input type="submit" name="submit" value="Search">
            </form>
        </div>  
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>Search By Location</h3>
            <form method="post" action="." enctype="multipart/form-data" id="form">   
                    {% csrf_token %}
                    {% bootstrap_form form2 %}
                    {{form2.media.js}}
                <input type="submit" name="submit" value="Search">
            </form>
        </div>  
        <br>
        <br>
        <div class="container">
        <table>
    
        {% if state %}
            {% if city %}
                {% get_city city.id as js %}
                    {% if js %}
                        <tr>
                        {% for i in js %}
                           <td><b><a href="{% url 'jobseeker_profile' i.user.username %}">{{ i.user.username }}</a></b></td>
                        {% endfor%}
                        </tr>
                    {% else %}
                        <h3> No Jobseekers found </h3>
                    {% endif %}
            {% else %}
                {% get_state state.id as js %}
                {% if js %}
                    <tr>
                    {% for i in js %}
                        <td><b><a href="{% url 'jobseeker_profile' i.user.username %}">{{ i.user.username }}</a></b></td>
                    {% endfor%}
                    </tr>
                {% else %}
                    <h3> No Jobseekers found </h3>
                {% endif %}
            {% endif %}
        {% endif %}
        
        {% if category %}
            {% if subcategory%}
                {% get_subcat subcategory.id as J_see %}
                    {% if J_see %}
                        <tr>
                        {% for i in J_see %}
                           <td><b><a href="{% url 'jobseeker_profile' i.jobseeker.user.username %}">{{ i.jobseeker.user.username }}</a></b></td>
                        {% endfor%}
                        </tr>
                    {% else %}
                        <h3> No Jobseekers found </h3>
                    {% endif %}
            {% else %}
                {% get_cate category.id as J_see %}
                {% if J_see %}
                    <tr>
                    {% for i in J_see %}
                       <td><b><a href="{% url 'jobseeker_profile' i.jobseeker.user.username %}">{{ i.jobseeker.user.username }}</a></b></td>
                    {% endfor%}
                    </tr>
                {% else %}
                    <h3> No Jobseekers found </h3>
                {% endif %}
            {% endif %}
        {% endif %}
        </table>
    </div>
</div>
{% endblock %}