<!--Employer sidebar -->    
<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <nav class="nav-sidebar" style="width:150px; height:100%; position:fixed; z-index: 1; top: 100px; left: 10px;
                                        padding: 15px 0;border-right: 1px solid rgb(124, 123, 123);  font-family:Roboto; ">
            <ul class="nav tabs">
                <li class="active"><a href="{% url 'employer_profile' user.username %}">Profile Details</a></li>
                <li><a href="{% url 'managejob' %}">Manage Jobs</a></li>
                <li><a href="{% url 'job_applications' %}">Manage Applications</a></li>
                <li><a href="{% url 'search_jobseeker' %}">Search Jobseekers</a></li>
                <li><a href="#">Saved Jobseekers</a></li>
            </ul>
        </nav>
    </div>
</div>